.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
wezterm/overrides.lua
kitty/kitty-overrides.conf
alacritty/alacritty-overrides.toml
ghostty/config-override
